.about{
    height: 100%;
    width: 100%;
    background-color: #000;
}
.disabled{
    display: none;
}
.container h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #eae727;
    margin-top: 30px;
    margin-bottom: 20px;
    @media (max-width: 1366px) and (min-width: 768px) {
        margin-top: 60px;
        margin-left: 90px;
        text-align: left;
        letter-spacing: 8px;
        font-size:12px;
    }
    @media (min-width: 1368px) {
        margin-top: 115px;
        margin-left: 90px;
        text-align: left;
        letter-spacing: 6px;
        font-size: 18px;
    }
}
.paragraph-one-mobile-about{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    @media (max-width: 1366px) and (min-width: 768px) {
        margin-top: 20px;
        margin-left: 90px;
        text-align: left;
        font-size: 26px;
        width: 78%;
    }
    @media (min-width: 1368px) {
        margin-top: 20px;
        margin-left: 90px;
        text-align: left;
        font-size: 28px;
        width: 78%;
    }
}
.paragraph-one-mobile-about-strong{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-weight: bold;
        font-size: 26px;
    }
    @media (min-width: 1368px) {
        font-weight: bold;
        font-size: 28px;
    }
}
.mobile-div-intern-section-about{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    @media (max-width: 359px) and (min-width: 321px) {
    }
    @media (max-width: 375px) and (min-width: 359px) {
        padding-top: 18px;
    } 
    @media (max-width: 415px) and (min-width: 376px) {
        padding-top: 43px;
    }
    @media (max-width: 1920px) and (min-width: 768px) {
        display: none;
    }
}
.mobile-div-intern-section-about img{
    height: 35px;
    @media (max-width: 1920px) and (min-width: 768px) {
    }
}
.mobile-h2-intern-section-about{
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
    @media (max-width: 1920px) and (min-width: 768px) {
    }
}
.mobile-p-intern-section-about{
    color: #fff;
    @media (max-width: 1920px) and (min-width: 768px) {

    }
}
.image-about-mobile{
    @media (min-width: 768px) {
        display: none;
    }
}
.image-about-desktop{
    height: 100%;
    padding: 0;
    position: relative;
    animation: imagemsegundasecao ease-in-out 2s forwards;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
}
.content-about-mobile{    
    @media (min-width: 768px) {
        padding: 0;
        position: relative;
        opacity: 0;
        animation: sobresegundasecao ease-in-out 2s forwards;
    }    
}

// Desktop
.desktop-div-section-about-one{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div1segundasection ease-in-out 1.5s forwards;
    animation-delay: 1.5s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
    }
    @media (min-width: 1368px) {
        padding-top: 90px;
    }
}
.desktop-text-intern-section-about-one{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-h2-section-about-one{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-p-section-about-one{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-div-section-about-two{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div2segundasection ease-in-out 1.5s forwards;
    animation-delay: 2s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
        padding-left: 45px;
    }
    @media (min-width: 1368px) {
        padding-top: 90px;
        padding-left: 40px;
    }
}
.desktop-text-intern-section-about-two{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
        width: 485px;
    }
}
.desktop-h2-section-about-two{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-p-section-about-two{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-div-section-about-three{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div4segundasection ease-in-out 1.5s forwards;
    animation-delay: 2.5s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
    }
    @media (min-width: 1368px) {
        padding-top: 120px;
    }
    
}
.desktop-text-intern-section-about-three{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-h2-section-about-three{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-p-section-about-three{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-div-section-about-four{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div4segundasection ease-in-out 1.5s forwards;
    animation-delay: 3s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
        padding-left: 45px;
    }
    @media (min-width: 1368px) {
        padding-left: 40px;
        padding-top: 120px;
    }
}
.desktop-text-intern-section-about-four{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
        width: 485px;
    }
}
.desktop-h2-section-about-four{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.desktop-p-section-about-four{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}