.about{
    height: 100%;
    width: 100%;
    background-color: #000;
}

    // Desktop

.about__image-desktop{
    height: 100%;
    padding: 0;
    position: relative;
    animation: imagemsegundasecao ease-in-out 2s forwards;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
}
.about-desktop__div-one{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div1segundasection ease-in-out 1.5s forwards;
    animation-delay: 1.5s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
    }
    @media (min-width: 1368px) {
        padding-top: 90px;
    }
}
.about-desktop__div-one--text-intern{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-one--text-intern__title{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-one--text-intern__paragraph{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-two{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div2segundasection ease-in-out 1.5s forwards;
    animation-delay: 2s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
        padding-left: 45px;
    }
    @media (min-width: 1368px) {
        padding-top: 90px;
        padding-left: 40px;
    }
}
.about-desktop__div-two--text-intern{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
        width: 485px;
    }
}
.about-desktop__div-two--text-intern__title{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-two--text-intern__paragraph{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-three{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div4segundasection ease-in-out 1.5s forwards;
    animation-delay: 2.5s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
    }
    @media (min-width: 1368px) {
        padding-top: 120px;
    }
    
}
.about-desktop__div-three--text-intern{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-three--text-intern__title{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-three--text-intern__paragraph{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-four{
    padding: 0;
    padding-left: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: div4segundasection ease-in-out 1.5s forwards;
    animation-delay: 3s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
    @media (max-width: 1366px) and (min-width: 768px) {
        padding-left: 45px;
    }
    @media (min-width: 1368px) {
        padding-left: 40px;
        padding-top: 120px;
    }
}
.about-desktop__div-four--text-intern{
    @media (max-width: 1366px) and (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 1368px) {
        width: 485px;
    }
}
.about-desktop__div-four--text-intern__title{
    color: #fff;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 0;
    font-size: 25px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 23px;
    }
    @media (min-width: 1368px) {
    }
}
.about-desktop__div-four--text-intern__paragraph{
    color: #fff;
    padding-left: 30px;
    font-size: 21px;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-size: 19px;
    }
    @media (min-width: 1368px) {
    }
}

    // Mobile

.about-mobile__image{
    @media (min-width: 768px) {
        display: none;
    }
}
.about-mobile__div-intern{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    @media (max-width: 359px) and (min-width: 321px) {
    }
    @media (max-width: 375px) and (min-width: 359px) {
        padding-top: 18px;
    } 
    @media (max-width: 415px) and (min-width: 376px) {
        padding-top: 43px;
    }
    @media (max-width: 1920px) and (min-width: 768px) {
        display: none;
    }
}
.about-mobile__div-intern img{
    height: 35px;
    @media (max-width: 1920px) and (min-width: 768px) {
    }
}
.about-mobile__div-intern--title{
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
    @media (max-width: 1920px) and (min-width: 768px) {
    }
}
.about-mobile__div-intern--paragraph{
    color: #fff;
    @media (max-width: 1920px) and (min-width: 768px) {
    }
}

// Mobile and Desktop

.about__top-text{    
    @media (min-width: 768px) {
        padding: 0;
        position: relative;
        opacity: 0;
        animation: sobresegundasecao ease-in-out 2s forwards;
    }    
}
.about__top-text--title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #eae727;
    margin-top: 30px;
    margin-bottom: 20px;
    @media (max-width: 1366px) and (min-width: 768px) {
        margin-top: 60px;
        margin-left: 90px;
        text-align: left;
        letter-spacing: 8px;
        font-size:12px;
    }
    @media (min-width: 1368px) {
        margin-top: 115px;
        margin-left: 90px;
        text-align: left;
        letter-spacing: 6px;
        font-size: 18px;
    }
}
.about__top-text--paragraph{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    @media (max-width: 1366px) and (min-width: 768px) {
        margin-top: 20px;
        margin-left: 90px;
        text-align: left;
        font-size: 26px;
        width: 78%;
    }
    @media (min-width: 1368px) {
        margin-top: 20px;
        margin-left: 90px;
        text-align: left;
        font-size: 28px;
        width: 78%;
    }
}
.about__top-text--paragraph-strong{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    @media (max-width: 1366px) and (min-width: 768px) {
        font-weight: bold;
        font-size: 26px;
    }
    @media (min-width: 1368px) {
        font-weight: bold;
        font-size: 28px;
    }
}

