.navigation__desktop{
    position: absolute;
    z-index: 499;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .navigation__mobile{
//     display: none;
//     width: 92%;
//     height: 78%;
//     position: fixed;
//     background:rgba(0,0,0,1);
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 500;
//     margin-bottom: 0;
//     right: 0;
// }

.navigation__mobile{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    margin-bottom: 0;
    right: 0;
}


// .navigation__mobile--menu{
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-around;
//     height: 100%;
//     margin-bottom: 0;
// }

.navigation__mobile--menu{
display: flex;
flex-direction: column;
width: 92%;
height: 78%;
margin-bottom: 0;
background-color: black;
top: 50%;
right: 0;
transform: translateY(-50%);
position: fixed;
border-left: 2px solid #3d3d3d;
}


.navigation__mobile--menu_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    width: 85%;
    border-right: 1px solid #3d3d3d;
    border-top: 2px solid #3d3d3d;
}
.navigation__mobile--menu_links li a{
    text-decoration: none;
    color: #fff;
    padding-left: 18px;
    font-weight: bold;
    font-size: 37px;
}
.navigation__mobile--menu_address{
    border-right: 1px solid #3d3d3d;
    height: 12.5%;
    width: 85%;
}
.navigation__mobile--menu_address p{
    text-decoration: none;
    color: #fff;
    padding-left: 18px;
    font-size: 13px;
    margin: 0;
}
.navigation__mobile--menu_social-network{
    display: flex;
    padding-left: 18px;
    // justify-content: space-around;
    width: 85%;
    height: 12.5%;
    border-right: 1px solid #3d3d3d;
    border-bottom: 2px solid #3d3d3d;
}
.navigation__mobile--menu_social-network img{
    width: auto;
    height: 22px;
    margin-right: 15%;
}


.icone-shopping{
    margin-left: 42%;
}
.menu{
    background-color: #fff;
    width: 22px;
    height: 2px;
}
.menu2{
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-top: 4px;
}
.menu3{
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-top: 4px;
}
.menu4{
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-top: 4px;
}
.menu5{
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-top: 4px;
    transform: rotate(45deg);
}
.menu6{
    background-color: #fff;
    width: 22px;
    height: 2px;
    margin-top: -2px;
    transform: rotate(135deg);
}

// .navigation-menu-disabled{
//     width: 40%;
//     height: 70%;
//     position: fixed;
//     background-color: #fff;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 20;
//     margin-bottom: 0;
//     right: -40%;
// }

@keyframes fecharMenu {
    from{
        right: 0;
    }
    to{
        right: -40%;
    }
}

.menu-hamburguer{
    z-index: 502;
    position: fixed;
    top: 14px;
    right: 14px;
    opacity: 0;
    animation: text2 ease-in-out 1s forwards;
    animation-delay: 1.5s;
    @media (max-width: 1920px) and (min-width: 768px) {
        display: none !important;
    }
}
.menu-hamburguer-closed{
    display: none;
    z-index: 502;
    position: fixed;
    top: 50%;
    right: 14px;
    opacity: 1;
    @media (max-width: 1920px) and (min-width: 768px) {
        display: none;
    }
}



.tel-menu{
    font-weight: bold;
}

.navigation-indicator{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    z-index: 200;
    opacity: 0;
    margin-right: 4px;
    animation: menu-scroll ease-in-out 2s forwards;
    animation-delay: 1s;
    @media (max-width: 767px) and (min-width: 2px) {
        display: none;
    }
}
.indicators-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.on{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 4px;
}
.off{
    width: 9.5px;
    height: 9.5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 9.5px;
    cursor: pointer;
    margin-bottom: 4px;
}


.scroll-icon{
    position: fixed;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    animation: scrollupanddown ease-in-out infinite 2s alternate;
    @media (max-width: 1920px) and (min-width: 768px) {
        display: none;
    }
}

.arrow-up{
    width: 38px;
    height: 38px;
    position: fixed;
    top: 94%;
    right: 7%;
    z-index: 300;
    cursor: pointer;
    animation: arrow-up ease-in-out infinite 1s alternate;
    @media (max-width: 768px) and (min-width: 2px) {
        animation: arrow-up-responsive ease-in-out infinite 1s alternate;        
    }
}
.arrow-up img{
    transform: rotate(90deg);
    opacity: 0.6;
}